html * {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
  max-width: 320px;
  max-height: 460px;
}

#outer_border {
    text-align: center;
    
    background: #eeeeee;
}

#head {
    font-size: 45px;
    letter-spacing: 10px;
}

canvas {
    border: 1px solid black;
    background: #dddddd;
    
    display: inline-block;
    vertical-align: top;
}

#left_container {
    width: 100px;
    
    display: inline-block;
    vertical-align: top;
}

#score_board {
    font-size: 30px;
    text-align: right;
}

button {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    float: top;
    width: 80px;
    height: 30px;
}

#score_list {
    display: block;
    margin-right: auto;
    margin-top: 20px;
    float: top;
}
